{%load static%}
{% include 'main/navbar.html'%}

<body>
    
<div class="col">
        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'homepage'%}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Contact</a></li>
          </ol>
        </nav>
      </div>
    

    <!-- Start Content Page -->
    <div class="container-fluid bg-light  ">
        <div class="col-md-6 m-auto text-center">
            <h1 >Contact Us</h1>
            <p style="    font-family: 'Roboto', sans-serif;
                        font-size: 18px !important;
                        font-weight: 300 !important;   margin-top: 0;
                        margin-bottom: -40px;">
                Proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>



    <!-- Start Contact -->
    <div class="container py-5 mt-0">
        <div class="row py-5">
            <form class="col-md-9 m-auto form-control" method="post" role="form">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Name</label>
                        <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputemail">Email</label>
                        <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputsubject">Subject</label>
                    <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Subject">
                </div>
                <div class="mb-3">
                    <label for="inputmessage">Message</label>
                    <textarea class="form-control mt-1" id="message" name="message" placeholder="Message" rows="8"></textarea>
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="">Let’s Talk</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Contact -->

